y*/d*/input.txt
y*/d*/part1/src/input.txt
y*/d*/part2/src/input.txt
y*/d*/part1/input.txt
y*/d*/lib/input.txt
y*/d*/part2/input.txt
y*/d*/part*/.zig-cache
y*/d*/part*/zig-out
y*/d*/lib/.zig-cache
y*/d*/lib/zig-out

